{% macro render_atom(atom) -%}
    {{- 'DA' if atom.is_dummy else atom.symbol }}{% if atom.point_charge %} Q {{ atom.point_charge }}{% elif atom.is_ghost %}:{% endif %}{% if atom.embedding_potential %} > {% endif %}{% if atom.isotope %} M = {{ atom.isotope }}{% endif %}{% if atom.nuclear_charge %} Z = {{ atom.nuclear_charge }}{% endif %} {{ atom.x }} {{ atom.y }} {{ atom.z }}{% if atom.fragment_number %} ({{ atom.fragment_number }}){% endif %}{% if atom.is_frozen %} ${% endif %}
{%- endmacro %}

{% macro render_int_atom(atom) -%}
    {{- 'DA' if atom.is_dummy else atom.symbol }}{% if atom.point_charge %} Q {{ atom.point_charge }}{% elif atom.is_ghost %}:{% endif %}{% if atom.embedding_potential %} > {% endif %}{% if atom.isotope %} M = {{ atom.isotope }}{% endif %}{% if atom.nuclear_charge %} Z = {{ atom.nuclear_charge }}{% endif %} {{ atom.bond_atom }} {{ atom.angle_atom }} {{ atom.dihedral_atom }} {{ atom.bond_length }} {{ atom.angle }} {{ atom.dihedral }}{% if atom.fragment_number %} ({{ atom.fragment_number }}){% endif %}{% if atom.is_frozen %} ${% endif %}
{%- endmacro %}

{% if coords.type in ['xyz', 'int', 'gzmt'] %}
* {{ coords.type }} {{ coords.charge }} {{ coords.multiplicity }}
{% for atom in coords.atoms %}
    {{ render_atom(atom) if coords.type == 'xyz' else render_int_atom(atom) }}
{% endfor %}
*
{% elif coords.type in ['xyzfile', 'gzmtfile'] %}
* {{ coords.type }} {{ coords.charge }} {{ coords.multiplicity }} {{ coords.filename }}
{% endif %}
